**/.yarn/*
**/!.yarn/patches
**/!.yarn/plugins
**/!.yarn/releases
**/!.yarn/sdks
**/!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
# !.yarn/cache
.pnp.*


# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.wxt

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

test-results/
playwright-report/

.env

# For why not to use separate .gitignore files for each app, because prettier only base on the root .gitignore file

# Extension
/apps/extension/staging/*
!/apps/extension/staging/update.sh

# Firebase
/apps/firebase/firebase-debug.log*
/apps/firebase/firebase-debug.*.log*
/apps/firebase/.firebase/
/apps/firebase/pids
/apps/firebase/*.pid
/apps/firebase/*.seed
/apps/firebase/*.pid.lock
/apps/firebase/lib-cov
/apps/firebase/.nyc_output
/apps/firebase/.grunt
/apps/firebase/bower_components
/apps/firebase/.lock-wscript
/apps/firebase/build/Release
/apps/firebase/.npm
/apps/firebase/.eslintcache
/apps/firebase/.node_repl_history
/apps/firebase/*.tgz
/apps/firebase/.yarn-integrity
/apps/firebase/.dataconnect
