<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54527256719-4ov34mkbih4l9nsu6j9eb45tinegaq5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54527256719-4ov34mkbih4l9nsu6j9eb45tinegaq5g</string>
	<key>API_KEY</key>
	<string>AIzaSyBRqYvq2qwdudL20L0_N0lW8XYT26Uo7Fc</string>
	<key>GCM_SENDER_ID</key>
	<string>54527256719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.zeroin.mobile</string>
	<key>PROJECT_ID</key>
	<string>zero-in-8211f</string>
	<key>STORAGE_BUCKET</key>
	<string>zero-in-8211f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54527256719:ios:2fa629375560ef73d628fa</string>
</dict>
</plist>