on:
  push:
    branches-ignore:
      - main # Because "Require branches to be up to date before merging" is enabled for main. The checking will be completed before pull request can be merged.
  pull_request:
    branches:
      - main
name: Continuous Integration
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'yarn'
          cache-dependency-path: ./yarn.lock
      - run: yarn install --immutable
      - name: Lint
        run: yarn lint
      - name: Format Check
        run: yarn format-check
      - name: Type Check
        run: yarn type-check
      - name: Unit Tests
        run: yarn test:unit
      - name: Build
        run: yarn build-only
      - name: Install Playwright Browser
        run: yarn playwright install --with-deps chromium
      - name: End-to-End Tests
        run: xvfb-run yarn test:e2e
  macos-e2e:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'yarn'
          cache-dependency-path: ./yarn.lock
      - run: yarn install --immutable
      - name: Build
        run: yarn build-only
      - name: Install Playwright Browser
        run: yarn playwright install --with-deps chromium
      - name: End-to-End Tests (macOS)
        run: yarn test:e2e
