on:
  push:
    branches-ignore:
      - main # Because "Require branches to be up to date before merging" is enabled for main. The checking will be completed before pull request can be merged.

  # TODO: Better to add on pull request for PR from forked repository but find way to skip the check if push is triggered the CI already in same commit.
name: Continuous Integration
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'yarn'
          cache-dependency-path: ./yarn.lock
      - run: yarn install --immutable
      - name: Lint
        run: yarn lint
      - name: Format Check
        run: yarn format-check
      - name: Type Check
        run: yarn type-check
      - name: Unit Tests
        run: yarn test:unit
      - name: Build
        run: yarn build-only
      - name: Install Playwright Browser
        run: yarn playwright install --with-deps chromium
      - name: End-to-End Tests
        run: xvfb-run yarn test:e2e
  different-os-e2e:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'yarn'
          cache-dependency-path: ./yarn.lock
      - run: yarn install --immutable
      - name: Build
        run: yarn build-only
      - name: Install Playwright Browser
        run: yarn playwright install --with-deps chromium
      - name: End-to-End Tests
        run: yarn test:e2e
