name: Format Check

on:
  pull_request:
    branches:
      - main

jobs:
  check-format:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: 'yarn'
          cache-dependency-path: yarn.lock
      - name: Install formatters
        run: |
          brew install ktlint swiftformat
      - run: yarn install --immutable
      - name: Run Formatter Check
        run: yarn format-check
