name: Mobile Submit

on:
    pull_request:
        paths:
            - "apps/mobile/**"
            - "packages/shared/**"
            - ".github/workflows/mobile-submit.yml"
defaults:
    run:
        working-directory: apps/mobile
jobs:
    mobile-submit-android:
        runs-on: ubuntu-latest
        env:
            EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "22.x"
                  cache: "yarn"
                  cache-dependency-path: yarn.lock
            - run: yarn install --immutable
            - name: Build Android
              run: yarn build:android --non-interactive --output zero-in.aab
            - name: Submit Android
              run: yarn submit:android --non-interactive --path zero-in.aab
